---
title: Baker
---

<div class="welecome">
<h1>Welcome to Baker</h1>
</div>

<!-- <div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p>
</div> -->
