---
title: Baker
layout: styleguide
---
<div class="wrapper">
	<div class="container">
		
	<section class="sg-section sg-colors">
		
		<figure class="sg-color sg-black">
			<figcaption>
				#212122
			</figcaption>
		</figure>

		<figure class="sg-color sg-gray-dark">
			<figcaption>
				#3C3C41
			</figcaption>
		</figure>

		<figure class="sg-color sg-gray">
			<figcaption>
				#676773
			</figcaption>
		</figure>

		<figure class="sg-color sg-gray-light">
			<figcaption>
				#D5DAE7
			</figcaption>
		</figure>

		<figure class="sg-color sg-gray-lightest">
			<figcaption>
				#EFF1F6
			</figcaption>
		</figure>

	</section>

	<section class="sg-section sg-colors">
		
		<figure class="sg-color sg-blue-darker">
			<figcaption>
				#4E4EB9
			</figcaption>
		</figure>

		<figure class="sg-color sg-blue-dark">
			<figcaption>
				#0000BF
			</figcaption>
		</figure>

		<figure class="sg-color sg-blue">
			<figcaption>
				#1E35FF
			</figcaption>
		</figure>

		<figure class="sg-color sg-blue-light">
			<figcaption>
				#80A8FF
			</figcaption>
		</figure>

		<figure class="sg-color sg-yellow">
			<figcaption>
				#FFC632
			</figcaption>
		</figure>

	</section>

	</div>
</div>
